.wrapper {
  font-size: 0.8rem;
  position: relative;
  display: inline-block;
  width: auto;
  cursor: pointer;
}

.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1.15rem;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  background-color: rgb(45, 55, 72);
  color: rgb(255, 255, 255);
  padding: 0rem 0.3rem;
  transition: height 200ms ease-out 0s, opacity 200ms ease-in 0s;
  height: 0rem;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}

::slotted(*) {
  margin: 0 0;
}

.slotContainer:hover {
  opacity: 0.7;
}

.wrapper:hover .tooltip {
  height: 1.4rem;
  opacity: 1;
}
